<td class="tagged_quote <%= quote.taggable.css_class %>">
	<span class="tagged_quote_text">&ldquo;<%= quote.taggable.text %>&rdquo;</span><br/>
	<span class="tagged_quote_author"><%= quote.taggable.author %></span>
</td>