<%= link_to "epsilon - Where intelligence ignites connection", "#{categories_path}.html", class: "ir", id: "home_button" %>
<div id="screen">

  <h1 id="h1-me-tablet" class="ir">
    M.E. | Manager Expectations Tablet
  </h1>

  <footer>
    <%= image_tag "get_started.png", class: "get_started", id: "get_started_text" %>
    <h1 id="slider" class="ir">get started</h1>
    <%= link_to image_tag("slider_button.png", class: "get_started", id: "slider_button"), "#{categories_path}.html" %>
  </footer>
</div>
